/* form.person-registration-form-container {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1rem;
} */
.person-registration-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.person-registration-form-container .buttons {
    display: flex;
    align-items: space-between;
    gap: 1rem
}