.pagination {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    
}

.pagination-link {
    background-color: #555;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination-link:hover {
    background-color: #777;
}